# Editor configuration, see https://editorconfig.org
root = true

[*]
charset = utf-8
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true
end_of_line = lf

[Makefile]
indent_style = tab

[*.ts]
quote_type = single

[*.py]
indent_style = space
indent_size = 4

[*.md]
max_line_length = off
trim_trailing_whitespace = false
indent_size = 2

[*.json]
indent_size = 2

[*.yml]
indent_size = 2

[*.yaml]
indent_size = 2

[*.css]
indent_size = 4

[*.svelte]
indent_size = 4
indent_style = space
[.js]
indent_size = 4


